.navbar {
    color: #f5821f;


}

.nav-link {
    color: #331a03;
}

.dropdown-item {
    color: #331a03
}

#navigacija {
    background-color: #F1E1D1;
}

.social {
    height: 40px;


}

.instagram {
    color: blue;
}